
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --fundobody: #292929;
    --fundocontainer: #5a5a5a;
    --fundorow1: #4d4d4d;
    --rosa: #fa05b9;
}

body{
    width: 100%;
    height: 100vh;
    background: var(--fundobody);
    /* overflow: hidden; */
}

.container{
    width: 100%;
    height: 90vh;
    background: var(--fundocontainer);
}

.row1{
    position: relative;
    height: 30vh;
    display: flex;
}

.border-bottom{
    border-bottom: 2px solid #000;
}
.border-right{
    border-right: 2px solid #000;
}

.header{
    width: 100%;
}

.header h1{
    color: var(--rosa);
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 4rem;
}
.sobre{
    position: relative;
    flex-direction: column;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-copy{
    display: flex;
    flex-direction: column;
}

.i-row{
    width: 100%;
    display: flex;
}

.i-row1{
    flex: 3;
}

.i-row2 > .col:nth-child(1){
    border-radius: 0 40px 0 0;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    width: 600px;
    padding: 2rem 0;
    background-color: #292929;
}

.linha3 p{
    font-size: 2rem;
}

.linha3 p span{
    font-family: "Basement Grotesque";
    color: #000;
    text-transform: uppercase;
}

.menu{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: bisque;
}

.menu-lista{
    padding: 2em 4em;
}

.faixa-vertical{
    position: absolute;
    right: -8em;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* font-family: "Agency FB", sans-serif; */
}
.faixa-vertical span{
    position: absolute;
}

.hero-img{
    flex: 2;
}

.img-container{
    position: relative;
    overflow: hidden;
    flex: 2;
    height: 100%;
}

.img-sf{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

